<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionOverviewMapper" >
  <select id="select" resultType="java.util.Map" parameterType="java.util.Map" >
    select auction_overview.* 
        	,auctionassets.auction_assets_name
    from auction_overview 
        	LEFT JOIN auction_assets auctionassets ON auctionassets.auction_assets_id=auction_overview.auction_assets_id
     
    <include refid="auctionOverviewCommonMapper.Where_Select_Sql" />
  </select>
  
  <delete id="delete" parameterType="java.util.Map" >
    delete from auction_overview
    <include refid="auctionOverviewCommonMapper.Where_Del_Sql" />
  </delete>
  <insert id="insert" parameterType="java.util.Map" >
    insert into auction_overview <include refid="auctionOverviewCommonMapper.Insert_Sql" />
  </insert>
  <insert id="inserts" parameterType="java.util.List" >
    insert into auction_overview <include refid="auctionOverviewCommonMapper.Inserts_Sql" />
  </insert>
  <update id="update" parameterType="java.util.Map" >
    update auction_overview 
    <include refid="auctionOverviewCommonMapper.Update_Sql" />
    <include refid="auctionOverviewCommonMapper.Where_Update_Sql" />
  </update>
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from auction_overview 
    <if test="_parameter != null" >
      <include refid="auctionOverviewCommonMapper.Where_Select_Sql" />
    </if>
  </select>	
</mapper>