<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionListingMapper" >
  <select id="select" resultType="java.util.Map" parameterType="java.util.Map" >
    select auction_listing.* 
        	,auctionassets .auction_assets _name
    from auction_listing 
        	LEFT JOIN auction_assets  auctionassets  ON auctionassets .auction_assets_id=auction_listing.auction_assets_id
     
    <include refid="auctionListingCommonMapper.Where_Select_Sql" />
  </select>
  
  <delete id="delete" parameterType="java.util.Map" >
    delete from auction_listing
    <include refid="auctionListingCommonMapper.Where_Del_Sql" />
  </delete>
  <insert id="insert" parameterType="java.util.Map" >
    insert into auction_listing <include refid="auctionListingCommonMapper.Insert_Sql" />
  </insert>
  <insert id="inserts" parameterType="java.util.List" >
    insert into auction_listing <include refid="auctionListingCommonMapper.Inserts_Sql" />
  </insert>
  <update id="update" parameterType="java.util.Map" >
    update auction_listing 
    <include refid="auctionListingCommonMapper.Update_Sql" />
    <include refid="auctionListingCommonMapper.Where_Update_Sql" />
  </update>
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from auction_listing 
    <if test="_parameter != null" >
      <include refid="auctionListingCommonMapper.Where_Select_Sql" />
    </if>
  </select>	
</mapper>