<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sysPermCommonMapper" >
  <sql id="Update_Sql" >
    <trim prefix="set" suffixOverrides="," >
			<if test="sysPerm.sys_perm_id != null  and sysPerm.sys_perm_id!= ''" >
		        sys_perm_id = #{sysPerm.sys_perm_id},
		    </if>
			<if test="sysPerm.sys_perm_pid != null  and sysPerm.sys_perm_pid!= ''" >
		        sys_perm_pid = #{sysPerm.sys_perm_pid},
		    </if>
			<if test="sysPerm.sys_perm_name != null  and sysPerm.sys_perm_name!= ''" >
		        sys_perm_name = #{sysPerm.sys_perm_name},
		    </if>
			<if test="sysPerm.sys_perm_flag != null  and sysPerm.sys_perm_flag!= ''" >
		        sys_perm_flag = #{sysPerm.sys_perm_flag},
		    </if>
			<if test="sysPerm.sys_perm_url != null  and sysPerm.sys_perm_url!= ''" >
		        sys_perm_url = #{sysPerm.sys_perm_url},
		    </if>
			<if test="sysPerm.sys_perm_createdate != null  and sysPerm.sys_perm_createdate!= ''" >
		        sys_perm_createdate = #{sysPerm.sys_perm_createdate},
		    </if>
			<if test="sysPerm.sys_perm_updatedate != null  and sysPerm.sys_perm_updatedate!= ''" >
		        sys_perm_updatedate = #{sysPerm.sys_perm_updatedate},
		    </if>
			<if test="sysPerm.sys_perm_createuid != null  and sysPerm.sys_perm_createuid!= ''" >
		        sys_perm_createuid = #{sysPerm.sys_perm_createuid},
		    </if>
			<if test="sysPerm.sys_perm_updateuid != null  and sysPerm.sys_perm_updateuid!= ''" >
		        sys_perm_updateuid = #{sysPerm.sys_perm_updateuid},
		    </if>
    </trim>
  </sql>
  <sql id="Inserts_Sql" >
    <trim prefix="(" suffix=")" suffixOverrides="," >
	         <if test="paramKey.sys_perm_id != null  and paramKey.sys_perm_id!= ''" >
	          sys_perm_id,
	        </if>
	         <if test="paramKey.sys_perm_pid != null  and paramKey.sys_perm_pid!= ''" >
	          sys_perm_pid,
	        </if>
	         <if test="paramKey.sys_perm_name != null  and paramKey.sys_perm_name!= ''" >
	          sys_perm_name,
	        </if>
	         <if test="paramKey.sys_perm_flag != null  and paramKey.sys_perm_flag!= ''" >
	          sys_perm_flag,
	        </if>
	         <if test="paramKey.sys_perm_url != null  and paramKey.sys_perm_url!= ''" >
	          sys_perm_url,
	        </if>
	         <if test="paramKey.sys_perm_createdate != null  and paramKey.sys_perm_createdate!= ''" >
	          sys_perm_createdate,
	        </if>
	         <if test="paramKey.sys_perm_updatedate != null  and paramKey.sys_perm_updatedate!= ''" >
	          sys_perm_updatedate,
	        </if>
	         <if test="paramKey.sys_perm_createuid != null  and paramKey.sys_perm_createuid!= ''" >
	          sys_perm_createuid,
	        </if>
	         <if test="paramKey.sys_perm_updateuid != null  and paramKey.sys_perm_updateuid!= ''" >
	          sys_perm_updateuid,
	        </if>
    </trim>
    values  
    <foreach collection="paramValue" item="item" index="index" separator="," >  
        (
		          <if test="item.sys_perm_id != null and item.sys_perm_id!= ''" >
			      	#{item.sys_perm_id},
			      </if>
		          <if test="item.sys_perm_pid != null and item.sys_perm_pid!= ''" >
			      	#{item.sys_perm_pid},
			      </if>
		          <if test="item.sys_perm_name != null and item.sys_perm_name!= ''" >
			      	#{item.sys_perm_name},
			      </if>
		          <if test="item.sys_perm_flag != null and item.sys_perm_flag!= ''" >
			      	#{item.sys_perm_flag},
			      </if>
		          <if test="item.sys_perm_url != null and item.sys_perm_url!= ''" >
			      	#{item.sys_perm_url},
			      </if>
		          <if test="item.sys_perm_createdate != null and item.sys_perm_createdate!= ''" >
			      	#{item.sys_perm_createdate},
			      </if>
		          <if test="item.sys_perm_updatedate != null and item.sys_perm_updatedate!= ''" >
			      	#{item.sys_perm_updatedate},
			      </if>
		          <if test="item.sys_perm_createuid != null and item.sys_perm_createuid!= ''" >
			      	#{item.sys_perm_createuid},
			      </if>
		          <if test="item.sys_perm_updateuid != null and item.sys_perm_updateuid!= ''" >
			      	#{item.sys_perm_updateuid},
			      </if>
        )  
    </foreach> 
  </sql>
  <sql id="Insert_Sql" >
    <trim prefix="(" suffix=")" suffixOverrides="," >
    		<if test="sys_perm_id != null  and sys_perm_id!= ''" >
	          sys_perm_id,
	        </if>
    		<if test="sys_perm_pid != null  and sys_perm_pid!= ''" >
	          sys_perm_pid,
	        </if>
    		<if test="sys_perm_name != null  and sys_perm_name!= ''" >
	          sys_perm_name,
	        </if>
    		<if test="sys_perm_flag != null  and sys_perm_flag!= ''" >
	          sys_perm_flag,
	        </if>
    		<if test="sys_perm_url != null  and sys_perm_url!= ''" >
	          sys_perm_url,
	        </if>
    		<if test="sys_perm_createdate != null  and sys_perm_createdate!= ''" >
	          sys_perm_createdate,
	        </if>
    		<if test="sys_perm_updatedate != null  and sys_perm_updatedate!= ''" >
	          sys_perm_updatedate,
	        </if>
    		<if test="sys_perm_createuid != null  and sys_perm_createuid!= ''" >
	          sys_perm_createuid,
	        </if>
    		<if test="sys_perm_updateuid != null  and sys_perm_updateuid!= ''" >
	          sys_perm_updateuid,
	        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="sys_perm_id != null and sys_perm_id!= ''" >
	      	#{sys_perm_id},
	      </if>
	      <if test="sys_perm_pid != null and sys_perm_pid!= ''" >
	      	#{sys_perm_pid},
	      </if>
	      <if test="sys_perm_name != null and sys_perm_name!= ''" >
	      	#{sys_perm_name},
	      </if>
	      <if test="sys_perm_flag != null and sys_perm_flag!= ''" >
	      	#{sys_perm_flag},
	      </if>
	      <if test="sys_perm_url != null and sys_perm_url!= ''" >
	      	#{sys_perm_url},
	      </if>
	      <if test="sys_perm_createdate != null and sys_perm_createdate!= ''" >
	      	#{sys_perm_createdate},
	      </if>
	      <if test="sys_perm_updatedate != null and sys_perm_updatedate!= ''" >
	      	#{sys_perm_updatedate},
	      </if>
	      <if test="sys_perm_createuid != null and sys_perm_createuid!= ''" >
	      	#{sys_perm_createuid},
	      </if>
	      <if test="sys_perm_updateuid != null and sys_perm_updateuid!= ''" >
	      	#{sys_perm_updateuid},
	      </if>
    </trim>
  </sql>
  <sql id="Where_Update_Sql" >
    <trim prefix="where" prefixOverrides="and">
    	 <choose>
	      <when test="sysPermQuery.sys_perm_id != null and sysPermQuery.sys_perm_id!= ''" >
	      	and sys_perm_id=#{sysPermQuery.sys_perm_id}
	      </when>
	      <when test="sysPermQuery.sys_perm_pid != null and sysPermQuery.sys_perm_pid!= ''" >
	      	and sys_perm_pid=#{sysPermQuery.sys_perm_pid}
	      </when>
	      <when test="sysPermQuery.sys_perm_name != null and sysPermQuery.sys_perm_name!= ''" >
	      	and sys_perm_name=#{sysPermQuery.sys_perm_name}
	      </when>
	      <when test="sysPermQuery.sys_perm_flag != null and sysPermQuery.sys_perm_flag!= ''" >
	      	and sys_perm_flag=#{sysPermQuery.sys_perm_flag}
	      </when>
	      <when test="sysPermQuery.sys_perm_url != null and sysPermQuery.sys_perm_url!= ''" >
	      	and sys_perm_url=#{sysPermQuery.sys_perm_url}
	      </when>
	      <when test="sysPermQuery.sys_perm_createdate != null and sysPermQuery.sys_perm_createdate!= ''" >
	      	and sys_perm_createdate=#{sysPermQuery.sys_perm_createdate}
	      </when>
	      <when test="sysPermQuery.sys_perm_updatedate != null and sysPermQuery.sys_perm_updatedate!= ''" >
	      	and sys_perm_updatedate=#{sysPermQuery.sys_perm_updatedate}
	      </when>
	      <when test="sysPermQuery.sys_perm_createuid != null and sysPermQuery.sys_perm_createuid!= ''" >
	      	and sys_perm_createuid=#{sysPermQuery.sys_perm_createuid}
	      </when>
	      <when test="sysPermQuery.sys_perm_updateuid != null and sysPermQuery.sys_perm_updateuid!= ''" >
	      	and sys_perm_updateuid=#{sysPermQuery.sys_perm_updateuid}
	      </when>
	      <otherwise> 
	      1!=1 
            </otherwise>
	     </choose>
    </trim>
  </sql>
    <sql id="Where_Del_Sql" >
    <trim prefix="where" prefixOverrides="and">
    	 <choose>
	      <when test="sys_perm_id != null and sys_perm_id!= ''" >
	      	and sys_perm_id=#{sys_perm_id}
	      </when>
	      <when test="sys_perm_pid != null and sys_perm_pid!= ''" >
	      	and sys_perm_pid=#{sys_perm_pid}
	      </when>
	      <when test="sys_perm_name != null and sys_perm_name!= ''" >
	      	and sys_perm_name=#{sys_perm_name}
	      </when>
	      <when test="sys_perm_flag != null and sys_perm_flag!= ''" >
	      	and sys_perm_flag=#{sys_perm_flag}
	      </when>
	      <when test="sys_perm_url != null and sys_perm_url!= ''" >
	      	and sys_perm_url=#{sys_perm_url}
	      </when>
	      <when test="sys_perm_createdate != null and sys_perm_createdate!= ''" >
	      	and sys_perm_createdate=#{sys_perm_createdate}
	      </when>
	      <when test="sys_perm_updatedate != null and sys_perm_updatedate!= ''" >
	      	and sys_perm_updatedate=#{sys_perm_updatedate}
	      </when>
	      <when test="sys_perm_createuid != null and sys_perm_createuid!= ''" >
	      	and sys_perm_createuid=#{sys_perm_createuid}
	      </when>
	      <when test="sys_perm_updateuid != null and sys_perm_updateuid!= ''" >
	      	and sys_perm_updateuid=#{sys_perm_updateuid}
	      </when>
	     <when test="ids != null and ids!= ''" >
	      		and sys_perm_id in 
	      		<foreach collection="ids" item="id" index="index"
		            open="(" close=")" separator=",">
		           #{id}
		        </foreach>
	      </when>
	      <otherwise> 
	      1!=1 
            </otherwise>
	     </choose>
    </trim>
  </sql>
  <sql id="Where_Select_Sql" >
    <trim prefix="where" prefixOverrides="and">
	      <if test="sys_perm_id != null and sys_perm_id!= ''" >
	      	and sys_perm_id=#{sys_perm_id}
	      </if>
	      <if test="sys_perm_pid != null and sys_perm_pid!= ''" >
	      	and sys_perm_pid=#{sys_perm_pid}
	      </if>
	      <if test="sys_perm_name != null and sys_perm_name!= ''" >
	      	and sys_perm_name=#{sys_perm_name}
	      </if>
	      <if test="sys_perm_flag != null and sys_perm_flag!= ''" >
	      	and sys_perm_flag=#{sys_perm_flag}
	      </if>
	      <if test="sys_perm_url != null and sys_perm_url!= ''" >
	      	and sys_perm_url=#{sys_perm_url}
	      </if>
	      <if test="sys_perm_createdate != null and sys_perm_createdate!= ''" >
	      	and sys_perm_createdate=#{sys_perm_createdate}
	      </if>
	      <if test="sys_perm_updatedate != null and sys_perm_updatedate!= ''" >
	      	and sys_perm_updatedate=#{sys_perm_updatedate}
	      </if>
	      <if test="sys_perm_createuid != null and sys_perm_createuid!= ''" >
	      	and sys_perm_createuid=#{sys_perm_createuid}
	      </if>
	      <if test="sys_perm_updateuid != null and sys_perm_updateuid!= ''" >
	      	and sys_perm_updateuid=#{sys_perm_updateuid}
	      </if>
	     <if test="ids != null and ids!= ''" >
	      	and sys_perm_id in 
	      		<foreach collection="ids" item="id" index="index"
		            open="(" close=")" separator=",">
		            #{id}
		        </foreach>
	      </if>
    </trim>
    <if test="startNu != null and pageSize != null" >
      <![CDATA[ limit #{startNu}, #{pageSize} ]]>
    </if>
  </sql>
</mapper>