<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sysMenuMapper" >
  <select id="select" resultType="java.util.Map" parameterType="java.util.Map" >
    select * from sys_menu
    <include refid="sysMenuCommonMapper.Where_Select_Sql" />
  </select>
  <select id="selectTree" resultType="java.util.Map" parameterType="java.util.Map" >
  	select *,if(childNu=0,false,true) lazy from(
	    select
	    *,
	    sys_menu_id  treekey,
	    sys_menu_name  treetitle,
	    (SELECT COUNT(*) FROM SYS_MENU child WHERE child.SYS_MENU_PID=parent.SYS_MENU_ID) childNu
	    from sys_menu parent
	    <include refid="sysMenuCommonMapper.Where_Select_Sql" />
	   ) tree
  </select>
  <select id="selectAllTree" resultType="java.util.Map" parameterType="java.util.Map" >
	    select
	    *,
	    sys_menu_id  treekey,
	    sys_menu_name  treetitle,
	    (SELECT COUNT(*) FROM SYS_MENU child WHERE child.SYS_MENU_PID=parent.SYS_MENU_ID) childNu
	    from sys_menu parent
	   <include refid="sysMenuCommonMapper.Where_Select_Sql" />
  </select>
  
  <delete id="delete" parameterType="java.util.Map" >
    delete from sys_menu
    <include refid="sysMenuCommonMapper.Where_Del_Sql" />
  </delete>
  <insert id="insert" parameterType="java.util.Map" >
    insert into sys_menu <include refid="sysMenuCommonMapper.Insert_Sql" />
  </insert>
  <insert id="inserts" parameterType="java.util.List" >
    insert into sys_menu <include refid="sysMenuCommonMapper.Inserts_Sql" />
  </insert>
  <update id="update" parameterType="java.util.Map" >
    update sys_menu 
    <include refid="sysMenuCommonMapper.Update_Sql" />
    <include refid="sysMenuCommonMapper.Where_Update_Sql" />
  </update>
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from sys_menu 
    <if test="_parameter != null" >
      <include refid="sysMenuCommonMapper.Where_Select_Sql" />
    </if>
  </select>	
</mapper>